.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: scroll;
}

.app::-webkit-scrollbar {
  display: none;
}

.spinner {
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.spinner > img {
  width: 200px;
}

/* @media screen and (max-width: 1027px){
  
} */
