.jobFeed {
  flex: 0.5;
  /* flex: 0.7; */
  margin: 0 20px;
  /* width: 50vw; */
  position: relative;
  max-width: 500px;
  min-height: 90vh;
}

.jobFeed__top {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.jobFeed__top__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.jobFeed__top__header > p {
  font-size: 22px;
  font-weight: bolder;
}

.jobFeed__top__header > h4 {
  color: rgb(104, 104, 104);
  font-weight: bold !important;
  padding: 5px;
  border-radius: 5px;
}

.jobFeed__top__header > h4:hover {
  cursor: pointer;
  background-color: rgb(222, 222, 222);
}

.jobFeed__top__body__job {
  margin-bottom: 10px;
}

.jobFeed__top__body__job:hover {
  cursor: pointer;
}

.jobFeed__top__body__job > h5 {
  color: rgb(98, 98, 98);
  font-size: 13px;
}

.jobFeed__top__body__job > hr {
  margin-top: 10px;
  height: 1px;
  border: 0;
  background-color: lightgray;
}

.jobFeed__top__body__show > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #00649a;
}

.jobFeed__top__body__show > span > :hover {
  cursor: pointer;
}

.jobFeed__top__body__show > span > p {
  padding: 5px;
}

.jobFeed__bottom {
  background-color: white;
  padding: 0 10px;
  padding-top: 10px;
  border-radius: 10px;
  margin: 20px 0;
}

.jobFeed__bottom > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
}

.jobFeed__bottom__header {
  margin-top: 10px;
  margin-bottom: 30px;
}

.jobFeed__bottom__header > h4 {
  font-size: 22px;
}

.jobFeed__bottom__header > p {
  color: rgb(98, 98, 98);
  font-size: 15px;
}

.jobFeed__bottom__feed {
  margin: 25px 0;
}

.jobFeed__bottom__feed:hover {
  cursor: pointer;
}

.showall {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(88, 88, 88);
  padding: 10px 0;
  transition: all 200ms ease-in;
  border-radius: 20px;
  margin-top: 2px;
}

.showall:hover {
  cursor: pointer;
  background-color: lightgray;
}

@media screen and (max-width: 1027px) {
  .jobFeed {
    flex: 0.7;
    margin-bottom: 230px;
  }
}
